*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #08c0dd;
    --secondary-color: #262431;
    --tertiary-color: #2f2c3d;
}

html,
body{
    font-family: "Open Sans", sans-serif;
    background: var(--secondary-color);
    color: #fff;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/* Navbar */

.navbar{
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navbar__container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img{
    width: 112px;
    height: 35px;
}

.navbar__menu-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}

.navbar__menu-link:hover{
    color: var(--primary-color);
}

.navbar__menu-link--primary{
    color: var(--primary-color);
}

.navbar__menu-link--primary:hover{
    color: #fff;
}